.filters_buttons {
    display: flex;
    justify-content: space-around;
}

.cover_filters {
    padding: 1rem;
    gap: 0.5rem;
    width: 100%;
}

.button_apply {
    display: flex;
    padding: 0.5rem;
    justify-content: flex-end;
}

@media (min-width: 760px) {

}
