.container{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 10%;
    padding-right:5%;
    background-color: #1f2941;
    height: 100vh;
    justify-content: space-between;
}