.layout {
    display: flex;
    flex-direction: row;
  }


.container {
margin-top: 8rem;
margin-left: 15%; 
padding: 2rem;
flex-grow: 1; 
background-color: #2b2b2b;
min-height: 100vh; 
display: flex;
flex-direction: column;
align-items: center;
gap: 2rem;
}

.Card {
background-color: rgb(29, 28, 28);
width: 30rem;

border: solid 0.05rem rgb(0, 0, 0);
display: flex;
flex-direction: column;
}

.Card-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
}

.Card-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;

}

.Card-3{
    text-align: center;
    margin-top: 0.5rem;
    
}

.Card-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
    margin-bottom: 2rem;

}

.Card button{
    border: 0.1rem solid rgb(22, 22, 22);
    border-radius: 0.1rem;
    background-color: #333232;
    padding: 0.3rem 1rem;
}

.Card button:hover{
   
    background-color: #2b2a2a;
 
}